@model List<Escuela.Dominio.Enrollment>
@{
    ViewData["Title"] = "Union";
}

<div class="text-center">
    <h1 style="color:aquamarine" class="display-4">Union de Tablas</h1>
</div>


<table id="Mitabla" class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                Id Enrollment
            </th>
            <th>
                Student ID
            </th>
            <th>
                LastName
            </th>
            <th>
                FirstMidName
            </th>
            <th>
                Curso al que pertenecen los estudiantes
            </th>
        </tr>

    </thead>
    <tbody>

        @foreach (var iteracion in Model)
        {

            <tr>
                <td>@iteracion.EnrollmentID</td>
                <td>@iteracion.StudentID</td>
                <td>@iteracion.Student.LastName</td>
                <td>@iteracion.Student.FirstMidName</td>
                <td>@iteracion.Course.Title</td>

            </tr>
        }
    </tbody>



</table>

@section scripts{

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function () {
        var tabla = $('#Mitabla').DataTable({
        });
    </script>
}
