@model List<Escuela.Dominio.Student>
@{
    ViewData["Title"] = "Student";
}

<div class="text-center">
    <h1 style="color: cornflowerblue" class=" animate__animated animate__jello">LISTA DE ESTUDIANTES</h1>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</div>

<table id="mitabla" class="table table-warning table-striped">
    <thead>
        <tr>
            <th>
                Id Student
            </th>
            <th>
                LastName
            </th>
            <th>
                FirstMidName
            </th>
            <th>
                EnrollmentsDate
            </th>
            <th>
                Accion
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var iteracion in Model)
        {

            <tr>
                <td>@iteracion.StudentID</td>
                <td>@iteracion.LastName</td>
                <td>@iteracion.FirstMidName</td>
                <td>@iteracion.EnrollmentsDate</td>
                <td>@Html.ActionLink("Editar", "Edit", new { id = iteracion.StudentID }, new { @class = "btn btn-danger" })</td>


            </tr>
        }

    </tbody>
</table>

@section scripts{

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var tabla = $('#mitabla').DataTable({
                "ajax": {
                    "url": '/Student/GetAll',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "studentID", "name": "studentID", "autoWidth": true },
                    { "data": "lastName", "name": "lastName", "autoWidth": true },
                    { "data": "firstMidName", "name": "firstMidName", "autoWidth": true },
                    { "data": "enrollmentsDate", "name": "enrollmentsDate", "autoWidth": true }
                ]
            });
        });
    </script>
}
    <br />
    <br />
    <button type="submit" class="btn btn-outline-success animate__animated animate__backInDown">@Html.ActionLink("Registrar", "Agregar") </button>

    